#wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  background-color: white;
  width: 80%;
  height: 700px;
  margin: 4% auto;
  font-family: 'Raleway', sans-serif;
}

#images {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 70%;
  margin: 4% auto;
  height: 100%;
  overflow: hidden;
}

#images img {
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 30%;
  height: 100%;
  height: 500px;
  font-family: 'Raleway', sans-serif;
}

.App h2 {
  margin-bottom: 10%;
}

.App input {
  width: 100%;
  justify-content: center;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-content: center;
  margin-bottom: 15px;
}

.App button{
  width: 40%;
  justify-content: center;
  align-self: center;
  border: none;
  background-color: #de7b00;
  border-radius: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #351603;
  margin: 20px;
  
}

.App button:hover{
  background-color: #663800;
  color: #e6d6ff;
  cursor: pointer;
}

.container {
  width: 70%;
  margin-top: 15%;
  color: rgb(8, 1, 1);
  margin-right: 150px;
  min-width: 250px;
}

#titulo {
  margin-top: 0px;
  padding-bottom: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
}

#signup {
  margin-bottom: 100px;
}

@media screen and (max-width: 1400px) {
  #wrapper {
    flex-direction: column-reverse;
    height: 500px;
    margin: 15% auto;
    background: none;
  }
  
  #images {
    width: 100%;
    height: 300px;
    padding-top: 50px;
  }
  
  #images img{
    width: 100%;
  }
  
  .App {
    width: 100%;
    height: 500px;
  }

  .container {
    margin-left: 50px;
    margin-right: 50px;
  }
}
