#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    min-width: 280px;
    padding-top: 5%;
    margin: 4% auto;
    background-color: whitesmoke;
}