body {
  background-image: url("./public-imgs/bkg/download.png");
}

.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
}

.container {
  height: 300px;
  width: 30%;
  margin-top: 15%;
  background-color: #ffffff;
  border-radius: 1em;
  color: rgb(8, 1, 1);
}

h2 {
  margin-bottom: 10%;
}

input {
  width: 80%;
  justify-content: center;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  align-content: center;
  margin-bottom: 15px;
}

button {
  width: 50%;
  justify-content: center;
  align-self: center;
  border: none;
  background-color: #de7b00;
  border-radius: 3em;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #4408a4;
}

button:hover {
  background-color: #663800;
  color: #e6d6ff;
  cursor: pointer;
}